<!-- reg-form -->
<div class="reg-form">
    <div class="container">
        <div class="reg">
            {{#if error}}
              <div class="col-md-12">
                <span class="text-danger font-italic">{{error}}</span>
              </div>
            {{/if}}
            <form action="/edit={{id}}" method="POST">
                <ul>
                    <li class="text-info">Tên: </li>
                    <li><input type="text" name="name" pattern="{1,}" required="required" value="{{data.Ten}}"></li>
                </ul>
                <ul>
                    <li class="text-info">Giá: </li>
                    <li><input type="text"  name="price" pattern="{1,}" required="required" value="{{data.Gia}}"></li>
                </ul>
                <ul>
                    <li class="text-info">Loại </li>
                    <li><input type="text" name="type" pattern="{1,}" required="required"value="{{data.Loai}}"></li>
                </ul>
                <ul>
                    <li class="text-info">Giới tính </li>
                    <li><input type="text" name="gender" pattern="{1,}" required="required"value="{{data.Gioitinh}}"></li>
                </ul>
                   <ul>
                    <li class="text-info">Brand</li>
                    <li><input type="text" name="brand" pattern="{1,}" required="required" value="{{data.Brand}}"></li>
                </ul>             
        <div class="row">
            <div class="col-md-2"><button type="submit">Xác nhận</button></div>
            <div class="col-md-2"><button><a href="/product">Quay về</a></button></div>
            <div class="col-md-2" ><button style="color: red;">Xóa sản phẩm</button></div>
        </div>        
                            
        </form>
        </div>
    </div>
</div>
