<!-- reg-form -->
<div class="reg-form">
    <div class="container">
        <div class="reg">
            <h3>Đăng ký ngay</h3>
            <p>Xin chào, vui lòng điền thông tin chi tiết .</p>
            <p>Nếu trước đây bạn đã đăng ký với chúng tôi, <a href="/login">nhấp vào đây</a></p>
            {{#if error}}
              <div class="col-md-12">
                <span class="text-danger font-italic">{{error}}</span>
              </div>
            {{/if}}
            <form action="/edit" method="POST">
                <ul>
                    <li class="text-info">Họ: </li>
                    <li><input type="text"  pattern="{1,}" required="required" value="{{data.Ten}}"></li>
                </ul>
                <ul>
                    <li class="text-info">Giá: </li>
                    <li><input type="text"  pattern="{1,}" required="required" value="{{data.Gia}}"></li>
                </ul>
                <ul>
                    <li class="text-info">Loại </li>
                    <li><input type="text"  pattern="{1,}" required="required"value="{{data.Loai}}"></li>
                </ul>
                <ul>
                    <li class="text-info">Giới tính </li>
                    <li><input type="text"  pattern="{1,}" required="required"value="{{data.Gioitinh}}"></li>
                </ul>
                   <ul>
                    <li class="text-info">Brand</li>
                    <li><input type="text"  pattern="{1,}" required="required" value="{{data.Brand}}"></li>
                </ul>             
        <div class="row">
            <div class="col-md-2"><button type="submit">Xác nhận</button></div>
            <div class="col-md-2"><button><a href="/product">Quay về</a></button></div>
            <div class="col-md-2" ><button style="color: red;">Xóa sản phẩm</button></div>
        </div>        
                            
        </form>
        </div>
    </div>
</div>
